<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style='color: black'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-title><img src="https://robin-fillactive.nyc3.digitaloceanspaces.com/images/relaismf2021/logo-fitspirit.png"/></ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://storage.googleapis.com/fillactive_storage/prod/medias/w1920/media_manager/capture-decran-le-2021-08-16-a-1737-34.png"/>
  <div id="" style='text-align: center;'>
    <ion-button type="submit" style='--background: white !important; color: black; border: 1.5px solid #ed2930; width: 90%;' (click)="login()" class="margin-tb">Login</ion-button>
    <ion-button type="submit" style='width: 90%; --border-radius: 2px;' (click)="register()" class="margin-tb">Register</ion-button>
  </div>
</ion-content>