<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activity Awards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Activity Awards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to start your workout?</strong>
    <p>Collect Activity Awards badges now!</p>
    <ion-button type="submit" (click)="register()" expand="block">Register</ion-button>
    <ion-button type="submit" (click)="login()" expand="block">Login</ion-button>
  </div>
</ion-content>
